body,
ul {
  margin: 0px;
  padding: 0px;
}

a, h1 {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: #193640
}

.logo__coffe{
  width: 2rem;
  height: 2rem;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7e7;
  position: fixed;
  z-index: 10000;
  width:100%
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.2rem;
  font-family: 'Fira Code';
}

#btn__mobile {
  display: none;
}

.title__newsletter {
  font-size: 1rem;
  font-family: 'Fira Code';
}

.search__content {
  display: flex;
}

.img_search {
  background: #193640;
  padding: 0.4rem;
  border-radius: 0 5px 5px 0;
}

.search__input {
  border-radius: 5px 0 0 5px;
  width: 22rem;
}

#newsletter__content {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-bottom: 18rem;
  padding: 2rem;
  background: #2121;
}

#form__email {
  display: flex;
}

.input__email {
  height: 2rem;
  width: 20rem;
  border-radius: 5px 0 0 5px
}

.input__button {
  background: #193640;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

footer p {
  background: #e7e7e7;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 2rem;
  font-family: 'Fira Code';
  margin-bottom: 2rem;
}


[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

[data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
[data-slide-nav] > button {
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
[data-slide-nav] > button.active {
  background: #fec454;
}

.banner__desktop {
  max-width: 100%;
  width: 100%;
}

#banner__content {
  margin-bottom: 2rem;
  padding-top: 4rem;
}

#quote h2 {
  text-align: center;
  font-size: 1.6rem;
  color: #193640;
  line-height: 1;
}

#quote p {
  display: flex;
  justify-content: center;
}

@media screen and  (max-width: 940px) {

  #logo {
    font-size: 0.8rem;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn__mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .search__input {
    width: 12rem;
  }

  #form__email {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .input__email, 
  .input__button {
    width: auto;
    border-radius: 0;
  }

  .input__button {
    height: 2rem
  }

  #quote h2 {
    font-size: 2.4rem;
  }

  #quote p {
    padding: 2rem;
  }
}